<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AED</key>
	<string>阿联酋迪拉姆</string>
	<key>AFN</key>
	<string>阿富汗尼</string>
	<key>ALL</key>
	<string>阿尔巴尼列克</string>
	<key>AMD</key>
	<string>亚美尼亚德拉姆</string>
	<key>ANG</key>
	<string>荷兰盾</string>
	<key>AOA</key>
	<string>安哥拉宽扎</string>
	<key>ARS</key>
	<string>阿根廷比索</string>
	<key>AUD</key>
	<string>澳元</string>
	<key>AWG</key>
	<string>阿鲁巴弗罗林</string>
	<key>AZN</key>
	<string>阿塞拜疆马纳特</string>
	<key>BAM</key>
	<string>波黑可兑换马克</string>
	<key>BBD</key>
	<string>巴巴多斯元</string>
	<key>BDT</key>
	<string>孟加拉国塔卡</string>
	<key>BGN</key>
	<string>保加利亚列弗</string>
	<key>BHD</key>
	<string>巴林第纳尔</string>
	<key>BIF</key>
	<string>布隆迪法郎</string>
	<key>BMD</key>
	<string>百慕大元</string>
	<key>BND</key>
	<string>文莱元</string>
	<key>BOB</key>
	<string>玻利维亚诺</string>
	<key>BRL</key>
	<string>巴西雷亚尔</string>
	<key>BSD</key>
	<string>巴哈马元</string>
	<key>BTN</key>
	<string>不丹努扎姆</string>
	<key>BWP</key>
	<string>博茨瓦纳普拉</string>
	<key>BYR</key>
	<string>白俄罗斯卢布</string>
	<key>BZD</key>
	<string>伯利兹元</string>
	<key>CAD</key>
	<string>加元</string>
	<key>CDF</key>
	<string>刚果法郎</string>
	<key>CHF</key>
	<string>瑞士法郎</string>
	<key>CLF</key>
	<string>智利比索(基金)</string>
	<key>CLP</key>
	<string>智利比索</string>
	<key>CNH</key>
	<string>中国离岸人民币</string>
	<key>CNY</key>
	<string>人民币</string>
	<key>COP</key>
	<string>哥伦比亚比索</string>
	<key>CRC</key>
	<string>哥斯达黎加科朗</string>
	<key>CUP</key>
	<string>古巴比索</string>
	<key>CVE</key>
	<string>佛得角埃斯库多</string>
	<key>CYP</key>
	<string>塞普路斯镑</string>
	<key>CZK</key>
	<string>捷克克朗</string>
	<key>DEM</key>
	<string>德国马克</string>
	<key>DJF</key>
	<string>吉布提法郎</string>
	<key>DKK</key>
	<string>丹麦克郎</string>
	<key>DOP</key>
	<string>多米尼加比索</string>
	<key>DZD</key>
	<string>阿尔及利亚第纳尔</string>
	<key>ECS</key>
	<string>厄瓜多尔苏克雷</string>
	<key>EGP</key>
	<string>埃及镑</string>
	<key>ERN</key>
	<string>厄立特里亚纳克法</string>
	<key>ETB</key>
	<string>埃塞俄比亚比尔</string>
	<key>EUR</key>
	<string>欧元</string>
	<key>FJD</key>
	<string>斐济元</string>
	<key>FKP</key>
	<string>福克兰群岛镑</string>
	<key>FRF</key>
	<string>法国法郎</string>
	<key>GBP</key>
	<string>英镑</string>
	<key>GEL</key>
	<string>格鲁吉亚拉里</string>
	<key>GHS</key>
	<string>加纳塞地</string>
	<key>GIP</key>
	<string>直布罗陀镑</string>
	<key>GMD</key>
	<string>冈比亚达拉西</string>
	<key>GNF</key>
	<string>几内亚法郎</string>
	<key>GTQ</key>
	<string>危地马拉格查尔</string>
	<key>GYD</key>
	<string>圭亚那元</string>
	<key>HKD</key>
	<string>港币</string>
	<key>HNL</key>
	<string>洪都拉斯伦皮拉</string>
	<key>HRK</key>
	<string>克罗地亚库纳</string>
	<key>HTG</key>
	<string>海地古德</string>
	<key>HUF</key>
	<string>匈牙利福林</string>
	<key>IDR</key>
	<string>印度尼西亚卢比</string>
	<key>IEP</key>
	<string>爱尔兰镑</string>
	<key>ILS</key>
	<string>以色列新谢克尔</string>
	<key>INR</key>
	<string>印度卢比</string>
	<key>IQD</key>
	<string>伊拉克第纳尔</string>
	<key>IRR</key>
	<string>伊朗里亚尔</string>
	<key>ISK</key>
	<string>冰岛克郎</string>
	<key>ITL</key>
	<string>意大利里拉</string>
	<key>JMD</key>
	<string>牙买加元</string>
	<key>JOD</key>
	<string>约旦第纳尔</string>
	<key>JPY</key>
	<string>日元</string>
	<key>KES</key>
	<string>肯尼亚先令</string>
	<key>KGS</key>
	<string>吉尔吉斯斯坦索姆</string>
	<key>KHR</key>
	<string>柬埔寨瑞尔</string>
	<key>KMF</key>
	<string>科摩罗法郎</string>
	<key>KPW</key>
	<string>朝鲜元</string>
	<key>KRW</key>
	<string>韩元</string>
	<key>KWD</key>
	<string>科威特第纳尔</string>
	<key>KYD</key>
	<string>开曼群岛元</string>
	<key>KZT</key>
	<string>哈萨克斯坦腾格</string>
	<key>LAK</key>
	<string>老挝基普</string>
	<key>LBP</key>
	<string>黎巴嫩镑</string>
	<key>LKR</key>
	<string>斯里兰卡卢比</string>
	<key>LRD</key>
	<string>利比里亚元</string>
	<key>LSL</key>
	<string>莱索托洛蒂</string>
	<key>LTL</key>
	<string>立陶宛立特</string>
	<key>LVL</key>
	<string>拉脱维亚拉特</string>
	<key>LYD</key>
	<string>利比亚第纳尔</string>
	<key>MAD</key>
	<string>摩洛哥迪拉姆</string>
	<key>MDL</key>
	<string>摩尔多瓦列伊</string>
	<key>MGA</key>
	<string>马达加斯加阿里亚里</string>
	<key>MKD</key>
	<string>马其顿代纳尔</string>
	<key>MMK</key>
	<string>缅甸元</string>
	<key>MNT</key>
	<string>蒙古图格里克</string>
	<key>MOP</key>
	<string>澳门元</string>
	<key>MRO</key>
	<string>毛里塔尼亚乌吉亚</string>
	<key>MUR</key>
	<string>毛里求斯卢比</string>
	<key>MVR</key>
	<string>马尔代夫拉菲亚</string>
	<key>MWK</key>
	<string>马拉维克瓦查</string>
	<key>MXN</key>
	<string>墨西哥比索</string>
	<key>MXV</key>
	<string>墨西哥MXV</string>
	<key>MYR</key>
	<string>马来西亚林吉特</string>
	<key>MZN</key>
	<string>莫桑比克新梅蒂卡尔</string>
	<key>NAD</key>
	<string>纳米比亚元</string>
	<key>NGN</key>
	<string>尼日利亚奈拉</string>
	<key>NIO</key>
	<string>尼加拉瓜新科多巴</string>
	<key>NOK</key>
	<string>挪威克朗</string>
	<key>NPR</key>
	<string>尼泊尔卢比</string>
	<key>NZD</key>
	<string>新西兰元</string>
	<key>OMR</key>
	<string>阿曼里亚尔</string>
	<key>PAB</key>
	<string>巴拿马巴波亚</string>
	<key>PEN</key>
	<string>秘鲁新索尔</string>
	<key>PGK</key>
	<string>巴布亚新几内亚基那</string>
	<key>PHP</key>
	<string>菲律宾比索</string>
	<key>PKR</key>
	<string>巴基斯坦卢比</string>
	<key>PLN</key>
	<string>波兰兹罗提</string>
	<key>PYG</key>
	<string>巴拉圭瓜拉尼</string>
	<key>QAR</key>
	<string>卡塔尔里亚尔</string>
	<key>RON</key>
	<string>罗马尼亚列伊</string>
	<key>RSD</key>
	<string>塞尔维亚第纳尔</string>
	<key>RUB</key>
	<string>俄罗斯卢布</string>
	<key>RWF</key>
	<string>卢旺达法郎</string>
	<key>SAR</key>
	<string>沙特里亚尔</string>
	<key>SBD</key>
	<string>所罗门群岛元</string>
	<key>SCR</key>
	<string>塞舌尔卢比</string>
	<key>SDG</key>
	<string>苏丹磅</string>
	<key>SEK</key>
	<string>瑞典克朗</string>
	<key>SGD</key>
	<string>新加坡元</string>
	<key>SHP</key>
	<string>圣赫勒拿镑</string>
	<key>SIT</key>
	<string>斯洛文尼亚托拉尔</string>
	<key>SLL</key>
	<string>塞拉利昂利昂</string>
	<key>SOS</key>
	<string>索马里先令</string>
	<key>SRD</key>
	<string>苏里南元</string>
	<key>STD</key>
	<string>圣多美多布拉</string>
	<key>SVC</key>
	<string>萨尔瓦多科朗</string>
	<key>SYP</key>
	<string>叙利亚镑</string>
	<key>SZL</key>
	<string>斯威士兰里兰吉尼</string>
	<key>THB</key>
	<string>泰铢</string>
	<key>TJS</key>
	<string>塔吉克斯坦索莫尼</string>
	<key>TMT</key>
	<string>土库曼斯坦马纳特</string>
	<key>TND</key>
	<string>突尼斯第纳尔</string>
	<key>TOP</key>
	<string>汤加潘加</string>
	<key>TRY</key>
	<string>土耳其里拉</string>
	<key>TTD</key>
	<string>特立尼达多巴哥元</string>
	<key>TWD</key>
	<string>新台币</string>
	<key>TZS</key>
	<string>坦桑尼亚先令</string>
	<key>UAH</key>
	<string>乌克兰格里夫纳</string>
	<key>UGX</key>
	<string>乌干达先令</string>
	<key>USD</key>
	<string>美元</string>
	<key>UYU</key>
	<string>乌拉圭比索</string>
	<key>UZS</key>
	<string>乌兹别克斯坦苏姆</string>
	<key>VEF</key>
	<string>委内瑞拉玻利瓦尔</string>
	<key>VND</key>
	<string>越南盾</string>
	<key>VUV</key>
	<string>瓦努阿图瓦图</string>
	<key>WST</key>
	<string>萨摩亚塔拉</string>
	<key>XAF</key>
	<string>中非法郎</string>
	<key>XAG</key>
	<string>银价盎司</string>
	<key>XAU</key>
	<string>金价盎司</string>
	<key>XCD</key>
	<string>东加勒比元</string>
	<key>XCP</key>
	<string>铜价盎司</string>
	<key>XDR</key>
	<string>IMF特别提款权</string>
	<key>XOF</key>
	<string>西非法郎</string>
	<key>XPD</key>
	<string>钯价盎司</string>
	<key>XPF</key>
	<string>太平洋法郎</string>
	<key>XPT</key>
	<string>珀价盎司</string>
	<key>YER</key>
	<string>也门里亚尔</string>
	<key>ZAR</key>
	<string>南非兰特</string>
	<key>ZMW</key>
	<string>赞比亚克瓦查</string>
	<key>ZWL</key>
	<string>津巴布韦元</string>
</dict>
</plist>
